.view-three-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.view-three-container .content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.view-three-container .otp-verified-icon {
  width: 83px;
  height: 83px;
}
.view-three-container .otp-verified-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 29px;
  color: #273135;
  font-size: 21px;
  line-height: 27px;
}
.view-three-container .slide-right {
  animation: 0.5s slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
.view-three-container .slide-left {
  animation: 0.5s slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}
.view-three-container .animate.pop {
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  animation-duration: 1s;
}
@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
