.payment-fail {
  width: 100vw;
}

.payment-fail-info {
  text-align: center;
}

.payment-fail .payment-fail-icon {
  height: 15vw;
  width: 15vw;
  margin: 3rem auto;
  background-image: url("../../assets/images/paymentFail/payment-fail.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.payment-fail .payment-fail-title {
  color: var(--text-black200);
  font-size: 24px;
  font-weight: bold;
  text-transform: none !important;
  text-align: center;
}

.payment-fail .payment-fail-description {
  margin: 1rem auto;
  width: 90%;
  color: var(--text-gray300);
  text-transform: none !important;
  text-align: center;
}

.payment-fail .payment-redirect {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: fit-content;
  height: 50px;
  margin: 0 auto;
  padding: 12px 32px;
  background: var(--button-primarybackground);
  border-radius: 60px;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 21px;
  color: var(--button-primarytext);
  cursor: pointer;
}

.payment-fail .help {
  position: fixed;
  bottom: 2rem;
  width: 90%;
  margin: 0 5%;
  font-size: 15px;
}

.payment-fail .help-text {
  float: left;
  width: 60%;
  text-align: left;
}

.payment-fail .help-link {
  float: left;
  width: 40%;
  text-align: right;
  color: var(--text-action);
}

@media (max-width: 768px) {
  .payment-fail .payment-fail-icon {
    height: 20vw;
    width: 20vw;
  }
}

@media (max-width: 576px) {
  .payment-fail .payment-fail-icon {
    height: 30vw;
    width: 30vw;
  }
}